<p-messages></p-messages>
<div class="upload-main-div">
  <div class="file-upload-div">
    <div class="nav-area-div">
      <button
        type="button"
        pButton
        *ngIf="showViewResultButton"
        (click)="goToResultsPage()"
        label="View Processed File(s)"
        icon="pi pi-arrow-right"
        iconPos="right"
      ></button>
    </div>
    <br />
    <div>
      <h4>
        <i class="pi pi-exclamation-circle">&nbsp;</i>Maximum Allowed File Size:
        300 MB.
      </h4>
    </div>
    <div>
      <p-fileUpload
        name="myfile[]"
        accept=".pdf"
        [multiple]="true"
        [customUpload]="true"
        (uploadHandler)="onUpload($event)"
        (onClear)="clearAll()"
        cancelLabel="Clear All"
        chooseLabel="Choose File(s)"
        [fileLimit]="10"
        [maxFileSize]="300000000"
      >
      </p-fileUpload>
    </div>
  </div>
</div>
