::ng-deep .p-button {
  background-color: #002a50;
  border: #28639e;
  padding: 1.25rem 1.75rem;
  font-size: 16px;
}

::ng-deep .p-component .pi {
  font-size: 18px;
}

::ng-deep .upload-main-div {
  min-width: 660px;
}

::ng-deep .p-fileupload .p-button:hover {
  background-color: #7399c6;
}

::ng-deep .p-component {
  font-family: Verdana, Helvetica;
  font-size: 1.5rem;
}

::ng-deep .p-fileupload .p-fileupload-row {
  font-size: 13px;
  height: 3rem;
  border-bottom: 1px solid #eef3f5;
}

::ng-deep .p-fileupload-files {
  border-top: 1px solid #eef3f5;
}

::ng-deep .p-fileupload .p-fileupload-row div:first-child {
  display: none;
}
::ng-deep .p-fileupload .p-fileupload-row .p-fileupload-filename {
  width: 50%;
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .p-fileupload .p-fileupload-row .p-button {
  height: 2rem;
  width: 2rem;
}

::ng-deep .p-fileupload .p-progressbar .p-progressbar-value {
  background-color: #002a50;
}
