<p-messages></p-messages>
<div class="view-main-div">
  <div class="buttonArea">
    <button
      pButton
      type="button"
      label="Back to Upload Page"
      routerLink="/upload"
      icon="pi pi-arrow-left"
      iconPos="left"
    ></button>

    <button
      pButton
      type="button"
      label="Refresh"
      (click)="refresh()"
      icon="pi pi-refresh"
      iconPos="left"
    ></button>
  </div>
  <div class="note-div">
    <span>
      <span class="imp-note-span"
        ><div class="pi pi-exclamation-triangle"></div>
        Important note: </span
      ><span
        >Some files might take time to be processed. If the file you uploaded
        doesn't appear on either of the lists below, kindly hit refresh after
        some time.</span
      >
    </span>
  </div>
  <div class="divContainer">
    <span class="table-label-text">
      <i class="pi pi-check-circle converted-file-icon">&nbsp;</i>
      <span>Successfully Processed Files</span>
    </span>
    <p-table
      [value]="fileList"
      responsiveLayout="scroll"
      sortField="lastUpdated"
      [sortOrder]="-1"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="fileName" class="row-head-name">FILE NAME</th>
          <th pSortableColumn="fileSize" class="row-head">SIZE</th>
          <th pSortableColumn="lastUpdated" class="row-head">LAST UPDATED</th>
          <th class="row-head">DOWNLOAD</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fileItem>
        <tr>
          <td class="row-cell-content-filename">
            <div class="pi pi-file-pdf"></div>
            {{ fileItem.fileName }}
          </td>
          <td class="row-cell-content">{{ fileItem.fileSize | filesize }}</td>
          <td class="row-cell-content">
            {{ fileItem.lastUpdated | date: "yyyy-MM-dd HH:mm:ss z" }}
          </td>
          <td class="row-cell-content">
            <i
              class="pi pi-download download-link"
              (click)="
                downloadFile(
                  fileItem.location,
                  fileItem.fileKey,
                  fileItem.fileName
                )
              "
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="divContainer">
    <span class="table-label-text">
      <i class="pi pi-times-circle error-file-icon">&nbsp;</i
      ><span>Files with Error</span>
    </span>
    <p-table
      [value]="errorFileList"
      responsiveLayout="scroll"
      sortField="lastUpdated"
      [sortOrder]="-1"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="fileName" class="row-head-name">FILE NAME</th>
          <th pSortableColumn="fileSize" class="row-head">SIZE</th>
          <th pSortableColumn="lastUpdated" class="row-head">LAST UPDATED</th>
          <th class="row-head">DOWNLOAD</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fileItem>
        <tr>
          <td class="row-cell-content-filename">
            <div class="pi pi-file-pdf"></div>
            {{ fileItem.fileName }}
          </td>
          <td class="row-cell-content">
            {{ fileItem.fileSize | filesize }}
          </td>
          <td class="row-cell-content">
            {{ fileItem.lastUpdated | date: "yyyy-MM-dd HH:mm:ss z" }}
          </td>
          <td class="row-cell-content">
            <i
              class="pi pi-download download-link"
              (click)="
                downloadFile(
                  fileItem.location,
                  fileItem.fileKey,
                  fileItem.fileName
                )
              "
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
