::ng-deep .p-button {
  margin-right: 0.5rem;
}

.buttonArea .p-button:hover {
  background-color: #7399c6;
}

.view-main-div {
  margin: 0 15rem 0 15rem;
}

.download-link {
  font-size: 22px;
  cursor: pointer;
  color: #7399c6;
}

.converted-file-icon {
  color: #8aa349;
  font-weight: bold;
  font-size: 1.5rem;
}

.error-file-icon {
  color: #cc3d30;
  font-weight: bold;
  font-size: 1.7rem;
}

.divContainer {
  margin: 2rem 0 3rem 0;
}

.buttonArea {
  margin: 3rem 0 3rem 0;
}

::ng-deep .p-datatable {
  font-family: Verdana, Helvetica;
  background-color: #f8fbff;
  border: 1px solid #98adc9;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

::ng-deep .p-datatable .p-datatable-tbody {
  font-size: 12px;
}

::ng-deep .p-datatable .p-datatable-thead {
  font-size: 14px;
}

::ng-deep .p-datatable .p-datatable-tbody .row-cell-content-filename {
  padding-left: 4rem;
}

::ng-deep .p-datatable .p-datatable-tbody .row-cell-content {
  text-align: center;
}
::ng-deep .p-datatable .p-datatable-thead .row-head {
  text-align: center;
  width: 250px;
}

::ng-deep .p-datatable .p-datatable-thead .row-head-name {
  width: 500px;
}

.note-div {
  font-size: 16px;
  font-weight: bold;
}

.imp-note-span {
  color: red;
}

::ng-deep .note-div .pi-exclamation-triangle {
  font-size: 16px;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight {
  background-color: #afdbfd;
  color: #002a50;
}
::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  background-color: #afdbfd;
  color: #002a50;
}

::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover {
  background-color: #afdbfd !important;
  color: #002a50;
}

::ng-deep .p-datatable .p-sortable-column:focus {
  box-shadow: none;
}
/** Uncomment during clean-up**/
::ng-deep .p-datatable .p-datatable-thead tr th {
  background-color: #afdbfd;
  color: #002a50;
  text-align: center;
}

*::ng-deep .p-datatable .p-datatable-tbody tr:nth-child(even) {
  background-color: #ddeaf7;
}

.row-cell-content-filename {
  font-weight: bold;
}

.table-label-text {
  font-size: 25px;
  font-weight: bold;
}

.table-label-text .pi {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2rem;
}
